# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
logs/
*.log
*.gz

# Environment variables
.env

# Mac and Windows system files
.DS_Store
Thumbs.db

# Database files (if applicable)
*.sqlite
*.sqlite3

# Temporary files
tmp/
temp/

# Editor settings and project files
.vscode/
.idea/

# Generated coverage files
coverage/
